.img {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
}

a{

    color: rgb(201, 20, 20);
}

.links{
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.link:hover{
    color:rgb(65, 59, 59);
}


